<div class="social_media_conteiner">
    <a href="https://www.facebook.com/agustinboquetex"><img src="../../../assets/facebook.png" alt=""></a>
    <a href="https://github.com/malechora"><img src="../../../assets/github.png" alt=""></a>
    <a href="https://www.instagram.com/agustinboqt/"><img src="../../../assets/instagram.png" alt=""></a>
    <a href="https://www.linkedin.com/in/agus-undefined-326163259/"><img src="../../../assets/linkedin.png" alt=""></a>
    <a href="https://twitter.com/Malechorax"><img src="../../../assets/twitter.png" alt=""></a>
</div>