<div class=>

    <h1 class="texto"> HARD & SOFT SKILLS</h1>
  
  <div class="html">
  
     <img class="imagen" src="../../../assets/html.png" alt="">
  
  <div>
      <circle-progress
      [percent]="70"
      [radius]="40"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#CD6A27'"
      [innerStrokeColor]="'#F37723'"
      [animation]="true"
      [animationDuration]="300"
      [showSubtitle]="false"
    ></circle-progress>
  </div>
  
  </div>
  
  
  <div class="css">
    <img class="imagen" src="../../../assets/CSS.png" alt="">
    
    <div>
      <circle-progress
      [percent]="60"
      [radius]="40"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#0662AE'"
      [innerStrokeColor]="'#1B96FC'"
      [animation]="true"
      [animationDuration]="300"
      [showSubtitle]="false"
    ></circle-progress>
    </div>
    
    </div>
    
    <div class="js">
    
    <img class="imagen" src="../../../assets/js.png" alt="">
    
    <div>
      <circle-progress
      [percent]="40"
      [radius]="40"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#F5EF29'"
      [innerStrokeColor]="'#C0AF31'"
      [animation]="true"
      [animationDuration]="300"
      [showSubtitle]="false"
    ></circle-progress>
    
    </div>
  
    </div>
    
    <div class="eng">
    
      <img class="imagen" src="../../../assets/eng.png" alt="">
  
      <p class="ingles">INGLÉS</p>
   
   <div>
       <circle-progress
       [percent]="65"
       [radius]="40"
       [outerStrokeWidth]="8"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="'BLACK'"
       [innerStrokeColor]="'black'"
       [animation]="true"
       [animationDuration]="300"
       [showSubtitle]="false"
     ></circle-progress>
   </div>
   
   </div>
  
  
  
   <div class="grup">
    
    <img class="imagen" src="../../../assets/grupal.png" alt="">
  
    <p class="grupal">GRUPAL</p>
  
  <div>
     <circle-progress
     [percent]="90"
     [radius]="40"
     [outerStrokeWidth]="8"
     [innerStrokeWidth]="8"
     [outerStrokeColor]="'black'"
     [innerStrokeColor]="'black'"
     [animation]="true"
     [animationDuration]="300"
     [showSubtitle]="false"
   ></circle-progress>
  </div>
  
  </div>
  
  <div class="github">
    
    <img class="imagen" src="../../../assets/git.png" alt="">
  
    <p class="git">GITHUB</p>
  
  <div>
     <circle-progress
     [percent]="55"
     [radius]="40"
     [outerStrokeWidth]="8"
     [innerStrokeWidth]="8"
     [outerStrokeColor]="'black'"
     [innerStrokeColor]="'black'"
     [animation]="true"
     [animationDuration]="300"
     [showSubtitle]="false"
   ></circle-progress>
  </div>
  
  </div>
  
  
    </div>
    
  