
.html{
    position: absolute;
    float: left;
    right: 50%;
    top: 92%;
}

.imagen{
 height: 100px;
    }

    
.html{
    position: absolute;
    float: left;
    right: 50%;
}

.css{
    position: absolute;
    float: left;
    right: 70%;
}

.js{
    position: absolute;
    float: left;
    right: 30%;
}


.ingles{  
    font-family: 'Outfit', sans-serif;
    color: rgb(241, 217, 217);
    border-radius: 15px;
    padding: 1rem;
    background-color: #16181b;
    box-shadow: 0 13px 22px 5px #0d192b

}


.grupal{
    right: 50%;
    font-family: 'Outfit', sans-serif;
    color: rgb(241, 217, 217);
    border-radius: 15px;
    padding: 1rem;
    background-color: #16181b;
    box-shadow: 0 13px 22px 5px #0d192b

}

.grup{
position: absolute ;
right: 50%;
top: 120%;
}

.eng{
    position: absolute ;
    right: 30%;
    top: 120%;
}

.github{
    position: absolute ;
    right: 70%;
    top: 120%;
    float: left;
}

.git{
    right: 50%;
    font-family: 'Outfit', sans-serif;
    color: rgb(241, 217, 217);
    border-radius: 15px;
    padding: 1rem;
    background-color: #16181b;
    box-shadow: 0 13px 22px 5px #0d192b

}

.texto{
    display: inline;
    position: absolute;
    right: 42%;
    top: 110%;
}